@import "../../variables.scss";
@import "../../mixins.scss";

.pillBtn {
  background: linear-gradient(135deg, $primary 0%, $secondary 100%);
  color: $bgPrimary;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  border: 0px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  width: 150px;
  height: 50px;
  font-size: 2em;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  overflow: hidden;
  text-align: center;

  @include above_breakpoint(m) {
    width: 180px;
    height: 60px;
  }

  @include above_breakpoint(xl) {
    width: 240px;
    height: 80px;
    font-size: 1.5em;
  }

  &:hover {
    background: linear-gradient(135deg, lighten($primary, 5%) 0%, lighten($secondary, 5%) 100%);
    box-shadow: 0 8px 24px rgba($primary, 0.4);
    transform: translateY(-2px);
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  @include animation(ripple 0.6s linear);
  background-color: rgba(#ffffff, 0.7);
}

@include keyframes(ripple) {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
