@import "../../variables";
@import "../../mixins";

.footer-container {
  display: grid;
  padding-inline: 5vw;
  padding-block: 2vh;
  place-content: center;
  background: linear-gradient(135deg, $bgSecondary 0%, #3e3c42 100%);
  color: $textSecondary;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
