$bgPrimary: #f4f4f4;
$bgSecondary: #d3ece8;
$primary: #b6dbd3;
$secondary: #0b3e4c;
$textPrimary: #336975;
$textSecondary: #0b3e4c;
$textTertiary: #4ca685;
$hint: #e0657b;
$breakpoints: (
  xl: 1200px,
  l: 992px,
  m: 768px,
  s: 600px,
);
