@import "./variables.scss";

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgPrimary;
  box-sizing: border-box;
  scroll-snap-type: y proximity;
}
