@import "./variables.scss";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: $baseFontSize; // Global base font size
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-open-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgPrimary;
  color: $textSecondary;
}

#root {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $bgPrimary;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, $primary 0%, $secondary 100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, lighten($primary, 5%) 0%, lighten($secondary, 5%) 100%);
}
