@import "./_variables.scss";

.text-color-primary {
  color: $textPrimary;
}

.text-color-secondary {
  color: $textSecondary;
}

.text-color-tertiary {
  color: $textTertiary;
}

.text-color-hint {
  color: $hint;
}

.color-primary {
  background-color: $primary;
}

.color-secondary {
  background-color: $secondary;
}

.color-hint {
  background-color: $hint;
}
