@import "../../mixins";
@import "../../variables";

.tech-chip {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  border-radius: 20px;
  border: 1px solid rgba($secondary, 0.5);
  background: rgba($surfaceElevated, 0.5);
  padding-inline: 1.2em;
  padding-block: 0.5em;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: $secondary;
    background: rgba($surfaceElevated, 0.8);
    transform: translateY(-1px);
  }

  &-img {
    height: 2.2em;
    width: 2.2em;
  }

  &-text {
    color: $textSecondary;
    font-size: 1.3em;
  }
}
